<div class="main-container">
  <div class="secondary-container">
    <div class="title">
      <h2>Trainiac</h2>
      <p>
        Take your coaching online and <br />
        deliver an experience like nothing <br />
        your clients have ever seen before
      </p>
    </div>
    <div class="contact">
      <h2>Company</h2>
      <p>About Us</p>
      <p>Contact Us</p>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 3333 All rights reserved | Trainiac.</p>
  </div>
</div>
