<div class="maincontainer">
  <div class="flex min-h-16 items-center justify-between text-white">
    <div class="title ml-3">Trainiac</div>
    <div class="flex items-center space-x-4 mr-3">
      <button class="btn-style link-btn" (click)="addBlog()">Add Blog</button>
      <img
        src="{{ trainerData.profileimage }}"
        alt="{{ trainerData.name }}"
        class="w-8 h-8 rounded-full object-cover border border-gray-300"
      />
      <span
        (click)="profile()"
        class="text-gray-700 font-semibold cursor-pointer hover:text-gray-900"
      >
        {{ trainerData.name }}
      </span>
      <div
        class="hamburger-menu cursor-pointer space-y-1.5"
        (click)="toggleDropdown()"
      >
        <span class="block w-6 h-0.5 bg-gray-700"></span>
        <span class="block w-6 h-0.5 bg-gray-700"></span>
        <span class="block w-6 h-0.5 bg-gray-700"></span>
      </div>
    </div>
  </div>
  <div class="secondcontainer">
    <div class="pagelinks shadow-md hover:shadow-xl bg-gray-800 p-6 rounded-lg">
      <div class="links space-y-4">
        <h5 class="link">
          <a (click)="clientList()" class="text-gray-400 hover:text-gray-900"
            >Clients</a
          >
        </h5>
        <h5 class="link">
          <a (click)="calender()" class="text-gray-400 hover:text-gray-900"
            >Calender</a
          >
        </h5>
        <h5 class="link">
          <a (click)="blogs()" class="text-gray-400 hover:text-gray-900"
            >Blogs</a
          >
        </h5>
        <h5 class="link">
          <a (click)="chatsystem()" class="text-gray-400 hover:text-gray-900"
            >Messages</a
          >
        </h5>
        <h5 class="link">
          <a
            (click)="videoCallSelectClient()"
            class="text-gray-400 hover:text-gray-900"
            >Video Session</a
          >
        </h5>
        <h5 class="link">
          <a (click)="clientRequest()" class="text-gray-400 hover:text-gray-900"
            >clientRequest</a
          >
        </h5>
        <button
          class="btn-style link-btn bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
    <div class="content shadow-md hover:shadow-xl">
      <div class="searchbar">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
            [(ngModel)]="searchQuery"
          />
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="performSearch()"
          >
            search
          </button>
        </div>
        <div class="flex flex-row">
          <div class="p-4" (click)="AllBlogs()">
            <a class="bloglinks">All Blogs</a>
          </div>
          <div class="p-4" (click)="currentTrainerBlogs()">
            <a class="bloglinks">My Blogs</a>
          </div>
        </div>
      </div>
      <div class="trainerlist-container">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6"
        >
          <div
            class="max-w-sm rounded overflow-hidden shadow-lg relative card_component h-64"
            *ngFor="let list of blogList"
            (click)="blogContent(list._id)"
          >
            <img
              class="w-full h-full object-cover"
              [src]="list.imagePath"
              alt="Blog image"
            />
            <div
              class="absolute bottom-0 left-0 px-6 py-2 bg-opacity-75 bg-gray-800 text-white w-full"
            >
              <div class="font-sm text-xs mb-2">{{ list.title }}</div>
              <p class="text-xs">By {{ list.author }}</p>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
            <a
              class="page-link"
              aria-label="Previous"
              (click)="onPageChange(currentPage - 1)"
            >
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of getPageNumbers()"
            [ngClass]="{ active: page === currentPage }"
          >
            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage === getTotalPages() }"
          >
            <a
              class="page-link"
              aria-label="Next"
              (click)="onPageChange(currentPage + 1)"
            >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="dropdown-menu" id="dropdown-menu">
        <a href="" class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Clients</a
        >
        <a
          (click)="calender()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Calendar</a
        >
        <a
          (click)="blogs()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Blogs</a
        >
        <a
          (click)="chatsystem()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Messages</a
        >
        <a
          (click)="videoCallSelectClient()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Video Session</a
        >
        <a
          (click)="clientRequest()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Client Request</a
        >
        <button
          class="w-full text-left px-4 py-2 bg-red-600 hover:bg-red-700 text-white"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
