.maincontainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  max-height: 100vh;
  color: #555;
}
.font_Style {
  font-family: "Lora", serif;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}
.pagelinks {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border-radius: 10px;
  height: 100vh;
}
.links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.searchbar {
  padding-bottom: 30px;
}
.title {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.material-symbols-outlined {
  display: none;
}
@media (max-width: 700px) {
  .pagelinks {
    display: none;
  }
  .content {
    margin-top: 20px;
    padding: 5px;
  }
  .material-symbols-outlined {
    display: block;
    margin-bottom: 25px;
    font-variation-settings: 2, 400, 1, 24;
  }
}
