img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  position: relative;
}

.main-container {
  overflow-x: hidden;
  background-image: url(../../../../../assets/pexels-cottonbro-studio-4761352.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  position: absolute;
  top: 5%;
  left: 1%;
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(116, 114, 114, 0.355);
  border-radius: 5px;
  margin-top: 50px;
}
.form-element {
  font-family: "Lora", san-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  min-width: 300px;
  color: #fff;
}
h1 {
  margin: 50px auto;
  font-family: "Lora", serif;
  color: #fff;
}
.getstarted-btn {
  background-color: #0c280d;
  color: #fff;
  padding: 2px 15px;
}
a {
  text-decoration: none;
  color: #fff;
}
svg {
  width: 20px;
  height: 20px;
  stroke: #fff;

  color: #fff;
  fill: #fff;
}
.link:hover {
  text-decoration: underline;
}
.errormessage {
  color: white;
  font-family: "Lora", serif;
  font-weight: 700;
  max-height: 5px;
}
.message {
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
  font-family: "Lora", serif;
  font-weight: 700;
  background-color: rgba(116, 114, 114, 0.727);
  border-radius: 5px;
}
.clientLink:hover {
  text-decoration: underline;
}
