<div class="maincontainer">
  <div class="flex min-h-16 items-center justify-between text-white">
    <div class="title ml-3">Trainiac</div>
    <div class="flex items-center space-x-4">
      <img
        src="{{ clientDetails.profileimage }}"
        alt="{{ clientDetails.name }}"
        class="w-8 h-8 rounded-full object-cover border border-gray-300"
      />
      <span
        (click)="profile()"
        class="text-gray-700 font-semibold cursor-pointer hover:text-gray-900"
      >
        {{ clientDetails.name }}
      </span>
      <div
        class="hamburger-menu cursor-pointer space-y-1.5"
        (click)="toggleDropdown()"
      >
        <span class="block w-6 h-0.5 bg-gray-700"></span>
        <span class="block w-6 h-0.5 bg-gray-700"></span>
        <span class="block w-6 h-0.5 bg-gray-700"></span>
      </div>
    </div>
  </div>
  <div class="secondcontainer">
    <div class="pagelinks bg-gray-800 p-6 rounded-lg shadow-md hover:shadow-xl">
      <div class="links space-y-4">
        <h5 class="link">
          <a (click)="trainerslist()" class="text-gray-400 hover:text-gray-900"
            >Trainers</a
          >
        </h5>
        <h5 class="link">
          <a (click)="calender()" class="text-gray-400 hover:text-gray-900"
            >Calender</a
          >
        </h5>
        <h5 class="link">
          <a
            (click)="clientBlogList()"
            class="text-gray-400 hover:text-gray-900"
            >Blogs</a
          >
        </h5>
        <h5 class="link">
          <a (click)="workoutlist()" class="text-gray-400 hover:text-gray-900"
            >Workout Lists</a
          >
        </h5>
        <h5 class="link">
          <a (click)="chatsystem()" class="text-gray-400 hover:text-gray-900"
            >Messages</a
          >
        </h5>
        <h5 class="link">
          <a
            (click)="ProgressTracker()"
            class="text-gray-400 hover:text-gray-900"
            >Progress Tracker</a
          >
        </h5>
        <button
          class="btn-style link-btn bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>

    <div class="content shadow-md hover:shadow-xl">
      <div class="flex flex-row justify-start g-7">
        <button
          (click)="joinSession()"
          class="btn-style link-btn flex justify-start my-2"
        >
          <span *ngIf="sessionDetails; else nosessionDetails">
            Join Session
          </span>
          <ng-template #nosessionDetails> No Session Right now </ng-template>
        </button>
        <div class="ml-2">
          <button class="btn-style link-btn" (click)="viewTrainer()">
            View Trainer
          </button>
        </div>
      </div>

      <div class="trainerlist-container">
        <div class="calendar-container">
          <div class="calendar-header">
            <button class="navigation-btn" (click)="prevMonth()">
              &#8249;
            </button>
            <h2 class="current-month">{{ currentMonth }}</h2>
            <h2 class="current-year">{{ currentYear }}</h2>
            <button class="navigation-btn" (click)="nextMonth()">
              &#8250;
            </button>
          </div>
          <div class="calendar">
            <div
              class="calendar-grid flex justify-between shadow-md hover:shadow-2xl"
            >
              <div
                *ngFor="let day of days"
                class="calendar-day glass-container"
              >
                <div class="day-header">{{ day }}</div>
                <div class="task-list">
                  <!-- Task management UI -->

                  <div *ngIf="getTasksForDay(day).length > 0; else noWorkout">
                    <div
                      *ngFor="let workoutRoutine of getTasksForDay(day)"
                      class="task"
                    >
                      <div>
                        <h3>{{ workoutRoutine.type }} Workout</h3>
                        <ng-container *ngIf="workoutRoutine.type === 'CARDIO'">
                          <p>
                            Activity: {{ workoutRoutine.details.activity
                            }}<br />
                            Intensity: {{ workoutRoutine.details.intensity
                            }}<br />
                            Duration: {{ workoutRoutine.details.duration }}
                          </p>
                          <div *ngIf="workoutRoutines.Session">
                            <button>Join Session</button>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="workoutRoutine.type === 'GYM'">
                          <p>
                            Target Muscle Group:
                            {{ workoutRoutine.details.targetMuscleGroup }}
                          </p>
                          <ul>
                            <li
                              *ngFor="
                                let exercise of workoutRoutine.details.exercises
                              "
                            >
                              {{ exercise.name }}: {{ exercise.sets }} sets,
                              {{ exercise.reps }} reps ({{ exercise.weight }})
                            </li>
                          </ul>
                          <div *ngIf="workoutRoutines.Session">
                            <button>Join Session</button>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="workoutRoutine.type === 'REST'"
                          ><P>Take Rest and Recover </P>
                        </ng-container>
                        <ng-container *ngIf="workoutRoutine.type === 'YOGA'">
                          <p>
                            Activity: {{ workoutRoutine.details.activity
                            }}<br />

                            Duration: {{ workoutRoutine.details.duration }}
                          </p>
                          <div *ngIf="workoutRoutines.Session">
                            <button>Join Session</button>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <ng-template #noWorkout>
                    <h3>REST DAY</h3>
                    <P>Take Rest and Recover </P>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-menu" id="dropdown-menu">
        <a href="" class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Trainers</a
        >
        <a
          (click)="calender()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Calendar</a
        >
        <a
          (click)="clientBlogList()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Blogs</a
        >
        <a
          (click)="workoutlist()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Workout Lists</a
        >
        <a
          (click)="chatsystem()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Messages</a
        >
        <a
          (click)="ProgressTracker()"
          class="block px-4 py-2 text-gray-400 hover:text-gray-900"
          >Progress Tracker</a
        >
        <button
          class="w-full text-left px-4 py-2 bg-red-600 hover:bg-red-700 text-white"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
