<div class="min-h-screen flex flex-col lg:flex-row">
  <!-- Sidebar -->
  <div class="w-full lg:w-1/5 bg-gray-800 text-white p-4">
    <div class="title mb-6">Trainiac</div>
    <!-- Mobile menu toggle button -->
    <div class="lg:hidden mb-4">
      <button
        class="w-full py-2 bg-gray-700 hover:bg-gray-600 text-white font-bold rounded"
        (click)="toggleNav()"
      >
        Menu
      </button>
    </div>
    <!-- Sidebar navigation -->
    <div
      [ngClass]="{ hidden: isNavHidden, block: !isNavHidden }"
      class="space-y-4 nav lg:block"
    >
      <p class="cursor-pointer hover:text-gray-300" (click)="adminClient()">
        Clients
      </p>
      <p class="cursor-pointer hover:text-gray-300" (click)="trainerslist()">
        Trainer
      </p>
      <p class="cursor-pointer hover:text-gray-300" (click)="adminBlog()">
        Blogs
      </p>
      <p
        class="cursor-pointer hover:text-gray-300"
        (click)="sessionManagement()"
      >
        Session Management
      </p>
      <p
        class="cursor-pointer hover:text-gray-300"
        (click)="adminPaymentData()"
      >
        Payment Details
      </p>
      <p class="cursor-pointer hover:text-gray-300" (click)="Dashboard()">
        Dashboard
      </p>
      <button
        class="w-full py-2 mt-4 bg-red-600 hover:bg-red-700 text-white font-bold rounded"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="mainContainer w-full lg:w-4/5 lg:p-8 bg-gray-100">
    <div class="mb-8 flex items-center"></div>

    <!-- Search Bar -->
    <div class="mb-8 flex justify-center">
      <div class="flex w-full max-w-md">
        <input
          type="search"
          class="flex-1 rounded-l-md p-2 border border-gray-300 focus:outline-none"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          [(ngModel)]="searchQuery"
        />
        <button
          type="button"
          class="bg-blue-500 text-white px-4 rounded-r-md"
          (click)="performSearch()"
        >
          Search
        </button>
      </div>
    </div>

    <!-- Table Container -->
    <div class="bg-white lg:p-6 shadow-md rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Index
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Trainer
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Clients
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              StartedAt
            </th>
            <th
              class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              EndedAt
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let data of sessiondata; let i = index">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ i + 1 }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ data.trainer.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <span *ngFor="let client of data.clientNames">
                <p>{{ client.name }}</p>
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{ data.startedAt | date : "yyyy-MM-dd, HH:mm:ss" }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {{
                data.endedAt
                  ? (data.endedAt | date : "yyyy-MM-dd, HH:mm:ss")
                  : "pending"
              }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <!-- Uncomment this if needed 
              <button class="btn-style link-btn">View Content</button>
              -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
          <a
            class="page-link"
            aria-label="Previous"
            (click)="onPageChange(currentPage - 1)"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPageNumbers()"
          [ngClass]="{ active: page === currentPage }"
        >
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: currentPage === getTotalPages() }"
        >
          <a
            class="page-link"
            aria-label="Next"
            (click)="onPageChange(currentPage + 1)"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
