<div class="maincontainer">
  <div class="nav">
    <div class="title">Trainiac</div>
    <div class="nav-right">
      <button class="btn-style">Add Blog</button>
      <span class="profilename">S.c</span>
    </div>
  </div>
  <div class="secondcontainer">
    <div class="pagelinks">
      <div class="links">
        <p>Blogs</p>

        <button class="btn-style">Logout</button>
      </div>
    </div>
    <div class="content">
      <span class="material-symbols-outlined"> list </span>

      <div class="searchbar">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" class="btn btn-outline-primary">search</button>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="../../../../assets/pexels-tima-miroshnichenko-6389075.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            The Power of Prevention: Understanding Disease Prevention Strategies
          </h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
