<!-- <app-mainpage></app-mainpage> -->
<!-- <app-loginpage></app-loginpage> -->
<!-- <app-clients></app-clients> -->
<!-- <app-bloglist></app-bloglist> -->
<!-- <app-blog></app-blog> -->
<!-- <app-register></app-register> -->
<!-- <app-trainerslist></app-trainerslist> -->

<!-- <app-otp></app-otp> -->

<!-- <app-calender></app-calender> -->
<!-- <app-trainerprofile></app-trainerprofile> -->
<!-- <app-client-profile></app-client-profile> -->
<!-- <app-calender1></app-calender1> -->
<!-- <app-clientslist></app-clientslist> -->
<router-outlet></router-outlet>
<!-- <app-chat-system></app-chat-system> -->
