<div class="main-container">
  <div class="primary-heading"><h2>Inspiring Results</h2></div>
  <div class="secondary-container">
    <div class="image-container">
      <img
        src="../../../assets/pexels-andres-ayrton-6551429.jpg"
        alt="working on exercise machine"
      />
    </div>
    <div class="content">
      <h3>Go Digital, Go Global</h3>
      <h6>Offer Flexible Training Options & Scale Your Profits :</h6>
      <p>
        Digitize and centralize your personal training systems <br />
        easily and introduce a new revenue stream by selling <br />
        online, in-person or hybrid memberships. same content <br />in different
        words
      </p>
    </div>
  </div>
  <div class="secondary-container">
    <div class="content contentsecond">
      <h3>Build Lasting Client Relationships </h3>
      <h6>Connect with Clients, Anywhere, Anytime :</h6>
      <p>
        Give clients more options to train with you—in <br />
        and outside of the gym. Deliver your fitness and <br />
        nutrition programs on your own PT coaching <br />app—then track their
        progress in real time. <br />Engage with clients in-app to keep
        motivation <br />
        high and keep clients training with you for longer.
      </p>
    </div>
    <div class="imagesecond">
      <img
        src="../../../../assets/pexels-leon-ardho-1552242.jpg"
        alt="working on rope"
      />
    </div>
  </div>
  <div class="secondary-container">
    <div class="image-container">
      <img
        src="../../../assets/pexels-vanessa-garcia-6325892.jpg"
        alt="working on exercise machine"
      />
    </div>
    <div class="content">
      <h3>Business Growth </h3>
      <h6>Get and keep more clients. :</h6>
      <p>
        Keep clients, trainers and programming in one place <br />
        and streamline your business operations. With integrated <br />
        payments, appointments, and one-click automation you can <br />
        sell and market our services and PT packages easier, always <br />
        providing the best experience to your clients.
      </p>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn getstarted-btn" (click)="register()">Get Started</button>
  </div>
</div>
