<div class="mainContainer mt-6 shadow-md bg-gray-100 hover:shadow-xl">
  <div
    class="secondContainer p-12 bg-gradient-to-r from-white-100 to-grey-300 rounded-lg"
  >
    <form
      [formGroup]="profileForm"
      class="flex flex-col space-y-6 bg-white p-8 rounded-lg shadow-lg border-2 border-grey-300"
    >
      <!-- Name -->
      <div>
        <label for="name" class="block text-indigo-700 font-semibold mb-2"
          >Name</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          [value]="trainerData.name"
          class="w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
        <div
          *ngIf="
            profileForm.controls['name'].invalid &&
            (profileForm.controls['name'].dirty ||
              profileForm.controls['name'].touched)
          "
        >
          <div
            *ngIf="profileForm.controls['name'].errors"
            class="text-red-500 text-sm mt-1"
          >
            Name is required
          </div>
        </div>
      </div>

      <!-- Bio -->
      <div>
        <label for="bio" class="block text-indigo-700 font-semibold mb-2"
          >Bio</label
        >
        <textarea
          name="bio"
          id="bio"
          cols="10"
          rows="3"
          formControlName="bio"
          maxlength="50"
          class="w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          >{{ trainerData.bio }}</textarea
        >
        <div
          *ngIf="
            profileForm.controls['bio'].invalid &&
            (profileForm.controls['bio'].dirty ||
              profileForm.controls['bio'].touched)
          "
        >
          <div
            *ngIf="profileForm.controls['bio'].errors"
            class="text-red-500 text-sm mt-1"
          >
            Bio is required
          </div>
        </div>
      </div>

      <!-- Skills -->
      <div formArrayName="skills">
        <label for="skills" class="block text-indigo-700 font-semibold mb-2"
          >Skills</label
        >
        <div *ngIf="profileForm.get('skills')">
          <div
            *ngFor="let skillGroup of skills.controls; let i = index"
            class="p-1"
          >
            <div [formGroupName]="i" class="flex items-center space-x-4">
              <input
                type="text"
                formControlName="skill"
                placeholder="Skill {{ i + 1 }}"
                class="w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
              <button
                type="button"
                (click)="removeSkill(i)"
                class="btn-style link-btn bg-red-500 text-white p-2 rounded-lg"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <button
          type="button"
          (click)="addSkill()"
          class="btn-style link-btn bg-blue-500 text-white p-2 rounded-lg mt-4"
        >
          Add Skill
        </button>
      </div>

      <!-- Profile Picture -->
      <div>
        <label
          for="profileImage"
          class="block text-indigo-700 font-semibold mb-2"
          >Profile Picture</label
        >
        <img
          *ngIf="trainerData.profileImage"
          [src]="trainerData.profileImage"
          alt="Profile Image"
          class="imageSize rounded-full w-24 h-24 object-cover mb-4"
        />
        <div class="file-input-container">
          <label
            for="profileImage"
            class="block text-indigo-700 font-semibold mb-2"
            >Add new image</label
          >
          <input
            class="btn-style link-btn file-input w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="file"
            id="profileImage"
            (change)="onProfileImageSelected($event)"
            accept="image/*"
          />
        </div>
      </div>

      <!-- Banner Image -->
      <div>
        <label
          for="bannerImage"
          class="block text-indigo-700 font-semibold mb-2"
          >Banner Image</label
        >
        <img
          *ngIf="trainerData.bannerImage"
          [src]="trainerData.bannerImage"
          alt="Banner Image"
          class="imageSize rounded-md w-full object-cover mb-4"
          accept="image/*"
        />
        <label
          for="bannerImage"
          class="block text-indigo-700 font-semibold mb-2"
          >Add new image</label
        >
        <input
          class="btn-style link-btn w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          type="file"
          id="bannerImage"
          (change)="onBannerImageSelected($event)"
          accept="image/*"
        />
        <div class="text-info text-gray-500 text-sm mt-1">
          Recommended size: 2560x1440
        </div>
      </div>

      <!-- Certificate Images -->
      <div>
        <label
          for="certificateImages"
          class="block text-indigo-700 font-semibold mb-2"
          >Certificate Images</label
        >
        <div
          *ngFor="let certImage of trainerData.certificateImages"
          class="mb-4"
        >
          <img
            *ngIf="certImage"
            [src]="certImage"
            alt="Certificate Image"
            class="imageSize rounded-md w-full object-cover mb-2"
          />
          <button
            *ngIf="certImage"
            type="button"
            class="btn-style link-btn bg-red-500 text-white p-2 rounded-lg"
            (click)="removeCertificateImage(certImage)"
          >
            Remove
          </button>
        </div>
        <input
          class="btn-style link-btn w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
          type="file"
          id="certificateImages"
          (change)="onCertificateImagesSelected($event)"
          accept="image/*"
          multiple
        />
        <div class="text-info text-gray-500 text-sm mt-1">
          You can select multiple images
        </div>
      </div>

      <!-- Description -->
      <label for="description" class="block text-indigo-700 font-semibold mb-2"
        >Description (100 words limit):</label
      >
      <textarea
        id="description"
        formControlName="description"
        rows="5"
        class="w-full p-3 border border-indigo-300 rounded-lg focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        >{{ trainerData.description }}</textarea
      >

      <div
        *ngIf="
          profileForm.controls['description'].invalid &&
          (profileForm.controls['description'].dirty ||
            profileForm.controls['description'].touched)
        "
      >
        <div
          *ngIf="profileForm.controls['description'].errors?.['maxlength']"
          class="text-red-500 text-sm mt-1"
        >
          Text exceeds 100 words
        </div>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        (click)="onSubmit()"
        class="btn-link bg-indigo-500 text-white p-3 rounded-lg transition-colors duration-300 hover:bg-indigo-700"
        [class.flex]="isLoading"
        [class.justify-center]="isLoading"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="mr-2"
          [class.animate-spin]="isLoading"
          [class.hidden]="!isLoading"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z"
          ></path>
        </svg>
        Submit
      </button>
    </form>
  </div>
</div>
